<?xml version='1.0' encoding='utf-8'?>
<widget id="webworks.default" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ONE</name>
    <description>
        ONE Unofficial App.
    </description>
    <author email="anphorea@gmail.com" href="http://about.me/anpho">
        anpho
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access uri="http://211.152.49.184:7001" subdomains="true" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
